<h2> Angular -  Exercício 1 da Prova  </h2>

<h3>  Notas  </h3>

<p>

  Nota1:<input type="number"[(ngModel)]="notas.nota1" name="nota1"/><br />

  Nota2:<input type="number"[(ngModel)]="notas.nota2" name="nota2"/><br />

  Nota3:<input type="number"[(ngModel)]="notas.nota3" name="nota3"/><br />

  Nota4:<input type="number"[(ngModel)]="notas.nota4" name="nota4"/><br />

</p>

<p>

  <button>(click)="verificarClick()"> Verificar </button>

  </p>

<p> 

  Media_Aritmetica:({Media_Aritmetica})

  </p>

<p> 

  Media_Ponderada:({Media_Ponderada})

  </p>